apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: {{.EC2RoleArn}}
      username: system:node:{{`{{EC2PrivateDNSName}}`}}
      groups:
      - system:bootstrappers
      - system:nodes